html, body {
	margin: 0 0;
}
#slide {
	font-family: Calibri;
	background-image:url(../images/background.jpg);
	background-repeat: no-repeat;
	width: 1280px;
	height: 720px;
}
#slide h1 {
	font-size: 50px;
	color: #F1C065;
	margin-left: 20px;
	margin-top: 0;
}
#slide h2 {
	font-size: 44px;
	font-weight: lighter;
	color: #EEE;
}
#slide ul{
	margin-left: 15px;
	font-size: 36px;
	color: #F3B65A;
	list-style-type:square;
}
.orange { 
	color: #E9C661;
	font-weight: bold;
}
.tag-list {
	
	margin-top: -20px;
	margin-bottom: -30px;
	margin-left: 2%;
	color: #D2C8AC;
	background-color: rgba(217,213,199, 0.15);
	border-style: solid;
	border-width: 1px;
	border-color: #C7BFAC;
	max-width: 91%;
	list-style-type: none;
}
.tag-list p {
	margin: 5px 10px;
	font-family: Consolas;
	font-weight: bold;
	font-size: 30px;
}
